@use "../base/vars";

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 40px;
    
    &__items-top {
        display: flex;
        column-gap: 40px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        row-gap: 24px;
    }

    & .button {
        justify-content: center;
    }
    
    &__info {
        color: vars.$white;
    }

    &__info.black {
        color: vars.$black;
    }

    &__win-msg,
    &__move-msg {
        margin: 0;
    }
}