@use "../base/vars";

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .board {
        margin-bottom: 36px;
    }

    &__info {
        color: vars.$white;
    }

    &__info.black {
        color: vars.$black;
    }

    &__win-msg,
    &__move-msg {
        margin: 0;
    }
}